p {
 color: green;
 font-family:Roboto;
}

.menu__item {
    border: dashed 1px red;
    padding: 0 13px;
}

body {
   margin: 0;
   border: dashed 1px red;
}

*{
    margin: auto;
    width: 80%;
    border: dashed 1px red;
    display: flex;
    justify-content: space-between;
     
}

.main-section {
    margin: auto;
    width: 80%;
    border: dashed 1px red;
}

.wrapper {
    margin: auto;
    width: 80%;
    border: dashed 1px red;
}

.logo, .menu {
    display: inline-block;
    border: dashed 1px red;
    margin-right: 63%;
    padding: 40px 0 40px 0;
    display: flex;
    align-items: center;
}

.menu__item:last-child {
    padding-right: 0;
}