body {
    margin:0;
}

p {
 color: green;
 font-family:'pt_serifbold';
}

.header {
    margin:auto;
    width: 80%;
    display:flex;
    justify-content:space-between;
}

.menu__item {
     border:dashed 1px red;
}
  
.main-section {
    margin:auto;
    width: 80%;
    border:dashed 1px red;
}

.wrapper {
   margin:auto;
   width: 80%;
   border:dashed 1px red;
}

.logo, .menu {
    display:inline-block;
    border:dashed 1px red;
}

.logo {
    padding: 40px 0;
}
       
.menu {
    display:flex;
    align-items:center;
}

.menu__item {
    padding: 0 13px;
    border:dashed 1px red;
}

.menu__item:last-child {
    padding-right:0;
}
  
.main-content__title {
     font-family: 'pt_serifbold'
}
  
.logo {
    padding: 40px 0;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
    width: 28px;
    height: 28px;
    border: dashed 1px red;
    left:50px ; top: 50% ;
    position: relative;
    transform: translateY(-50%);
    border-radius: 50%;
}

.logo__circle_color_blue {
    position: absolute;
    left: 8px;
    top: 56%;
    opacity: 0.7;
    background: #C8DBFB;
}

.logo__circle_color_dark-blue {
    position: absolute;
    opacity: 0.7;
    background: #0056EC;
   }
   